<h1><img src="https://api.iconify.design/material-symbols/rule.svg?color=%2322c55e" width="30" /> Verificação</h1>

~~~json
{
  "returncode": 0,
  "stdout": "",
  "stderr": "...\n----------------------------------------------------------------------\nRan 3 tests in 0.001s\n\nOK\n"
}
~~~
